.login {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.loginMain {
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.loginMain img {
  width: 100px;
  height: 100px;
  display: block;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.loginMain h1 {
  font-size: 44px;
  font-weight: 600;
  color: black;
  width: 420px;
  text-align: center;
  margin-bottom: 70px;
}

.loginMain button {
  width: 420px;
  height: 60px;
  background-color: #004dfb;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  outline: none;
  cursor: pointer;
}

.loginMain p {
  width: 420px;
  text-align: center;
  font-size: 14px;
  color: #aaaaaa;
  margin-top: 22px;
}

.decorationTop {
  position: absolute;
  top: 0px;
  left: 0px;
  width: fit-content;
  height: fit-content;
}

.decorationTop img {
  display: block;
  width: 380px;
}

.decorationBottom {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: fit-content;
  height: fit-content;
}

.decorationBottom img {
  display: block;
  width: 320px;
}

/* Button Ripple effect */
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #004dfb radial-gradient(circle, transparent 1%, #004dfb 1%)
    center/15000%;
}
.ripple:active {
  background-color: #4d83ff;
  background-size: 100%;
  transition: background 0s;
}
