.messageContainer {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: flex-end;
  margin-left: 34px;
  margin-top: 34px;
}

.messageContainerUser {
  width: fit-content;
  height: fit-content;
  margin-right: 34px;
  margin-left: auto;
  margin-top: 34px;
}

.messageContainer img {
  width: 50px;
  display: block;
  margin-right: 20px;
  border-radius: 50%;
}

.messageContainerUser img {
  display: none;
}

.senderName {
  font-size: 14px;
  font-weight: 600;
  color: black;
  margin-bottom: 5px;
}

.senderNameUser {
  display: none;
}

.messageTxtWrapper {
  width: fit-content;
  max-width: 370px;
  padding: 16px 18px;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0px 2px 6px rgba(128, 128, 128, 0.16);
}

.messageTxtWrapperUser {
  width: fit-content;
  max-width: 370px;
  padding: 16px 18px;
  border-radius: 12px;
  background-color: #1b223c;
  box-shadow: 0px 2px 6px rgba(128, 128, 128, 0.16);
}

.messageTxt {
  font-size: 16px;
  color: black;
}

.messageTxtUser {
  font-size: 16px;
  color: #f0f0f0;
}

.timeStamp {
  font-size: 14px;
  color: #888888;
  margin-top: 5px;
}

.timeStampUser {
  font-size: 14px;
  color: #aaaaaa;
  margin-top: 5px;
}
